/* Cleanup */
* {
  margin: 0;
  padding: 0;
}

fieldset, img {
  border: none;
}

a, a:focus {
  outline: medium none;
}

/* Clearfix */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix {
  display: inline-table;
}

/* Hides from IE-mac \*/
* html .clearfix {
  height: 1%;
}

* + html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* 100% tall body */
html, body {
  height: 100%;
}

#wrapper {
  background: none repeat scroll 0 0 #FFFFFF;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -30px;
}

body {
  background: none repeat scroll 0 0 #7D7D7D;
  color: #666666;
  font-family: Arial, Tahoma, Helvetica, FreeSans, sans-serif;
  font-size: 13px;
  text-align: center;
  width: 100%;
}

/* Global Styles */
a, a:visited {
  color: #333333;
  text-decoration: underline;
}

a:hover {
  color: #CC3300;
  text-decoration: none;
}

#content h2 {
  border-bottom: 1px solid #D7D7D7;
  margin: 15px 0;
  padding-bottom: 10px;
}

#content ul {
  margin: 10px 15px;
}

#content p {
  margin-bottom: 10px;
}

.page_wide {
  margin: 0 auto;
  text-align: left;
  width: 960px;
  position: relative;
}

#flash_container {
  width: 100%;
  margin-bottom: 15px;
}

#flash_container .flash_msg {
  padding: 5px 15px;
  font-weight: bold;
  text-align: center;
  display: block;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#flash_container .notice {
  background-color: #FFFDDD;
  border: 1px solid #FFF222;
}

#flash_container .error, #flash_container .warning {
  background-color: #FFDDDD;
  border: 1px solid #FFAAAA;
}

.flash, .notice_flash {
  background-color: #FFFDDD;
  border: 1px solid #FFF222;
  font-weight: bold;
  margin: 3px 20px;
  padding: 4px 10px;
  text-align: center;
}

.error_flash {
  background-color: #FFDDDD;
  border: 1px solid #FFAAAA;
}

.quote {
  background: url("/images/icons/quotes.gif") no-repeat scroll 5px 3px #F5F5F5;
  border: 1px solid #EBEBEB;
  font-size: 1.2em;
  font-weight: bold;
  padding: 12px 8px 8px 50px;
  margin-bottom: 15px;
  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  border-radius: 8px 8px 8px 8px;
}

/* Header */
#header {
  background: none repeat scroll 0 0 #222222;
  height: 50px;
  padding-top: 5px;
  position: relative;
  clear: both;
}

#header #admin_logout {
  color: #CCCCCC;
  position: absolute;
  top: -5px;
  right: 0;
}

#header #admin_logout a {
  color: #CC3300;
}

#header img.logo {
  margin-top: 5px;
}

ul#topnav {
  float: right;
  list-style: none outside none;
  margin-top: 15px;
}

ul#topnav li {
  background: none;
  float: left;
  margin-left: 20px;
}

ul#topnav li a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.2em;
  background-color: #2E2E2E;
  border: 1px solid #181818;
  padding: 3px 8px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

ul#topnav li a.hovered {
  background-color: #505050;
}

ul#topnav li a.selected, ul#topnav li a.selected:hover {
  background-color: #FFC20E;
  color: #222222;
}

/* Main Content */
#main_content {
  padding: 2em 0;
}

#main_content #heading {
  border-bottom: 1px solid #D7D7D7;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

#main_content #heading h1 {
  color: #363636;
  font-size: 2em;
  display: inline;
}

#main_content #heading p {
  color: #818181;
  font-size: 1.2em;
  display: inline;
  margin-left: 5px;
}

#main_content #heading p a.button,
#main_content #heading p a.button:hover,
#main_content #heading p a.button:visited {
  float: right;
  font-size: 1em;
  height: auto;
  padding: 5px 15px;
  text-decoration: none;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

#main_content #content {
  padding-top: 15px;
}

#content p.intro {
  font-size: 1.25em;
}

/* Footer */
#wrapper #clear_footer, #footer {
  height: 30px;
  clear: both;
}

#footer {
  background: none repeat scroll 0 0 #7D7D7D;
  text-align: center;
  color: #FFFFFF;
}

#footer p {
  font-size: 12px;
  line-height: 12px;
  height: 12px;
  padding-top: 9px;
}

#footer p a {
  color: #FFFFFF;
  text-decoration: none;
}

#footer p a:hover {
  text-decoration: underline;
}

#footer .divider {
  border-right: 1px solid #FFFFFF;
  margin: 0 10px;
}

/* Base elements */
h2 {
  font-size: 1.7em;
  font-weight: bold;
}

/* Forms */
form .error {
  background-color: #FFEEEE;
}

form label {
  clear: left;
  float: left;
  width: 80px;
  text-align: right;
  padding: 4px 0;
  margin-top: 15px;
  font-weight: bold;
}

form input, form textarea {
  width: 310px;
  margin-left: 20px;
  margin-top: 15px;
  padding: 3px;
  float: left;
  border: 1px solid #CCCCCC;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

form textarea {
  height: 65px;
}

form input.button, a.button {
  background: url("/images/button_bg.png") repeat-x scroll 0 0 #0F0F0F;
  border: medium none;
  color: #FFFFFF;
  font-size: 1.2em;
  font-weight: bold;
  height: 40px;
  padding: 0 40px;
  width: auto;
}

form input.button {
  margin-left: 100px;
  clear: left;
}

form .captcha_widget {
  clear: left;
  float: left;
  margin-left: 100px;
  margin-top: 15px;
}

/*******************
Page Specific Styles
*******************/

/* Home Page */
body.home #main_content #heading {
  display:none;
}

body.home #main_content #content {
  border-top: none;
  padding-top: 0;
}

body.home #main_content #content #welcome {
  width: 940px;
  height: 280px;
  background: url('/images/home/main_pane_bg.png') no-repeat scroll 0 0 #3E3E3E;
  padding: 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

body.home #main_content #content #welcome img {
  border: 5px solid #FFC20E;
  height: 250px;
  float: left;
  margin: 10px 50px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

body.home #main_content #content #welcome .message {
  margin: 10px;
  float: left;
  width: 580px;
  font-family: TangerineBold, Arial,Tahoma,Helvetica,FreeSans,sans-serif;
}

body.home #main_content #content #welcome h2 {
  color: #FFFFFF;
  font-size: 3em;
}

body.home #main_content #content #welcome p {
  color: #CCCCCC;
  font-size: 2em;
  height: 160px;
  padding-right: 20px;
  text-align: justify;
  width: 560px;
  overflow: hidden;
  margin-top: 10px;
}

body.home #main_content #content #welcome a.more,
body.home #main_content #content #welcome a.more:hover,
body.home #main_content #content #welcome a.more:visited {
  color: #FFC20E;
  float: right;
  font-size: 2em;
  margin: 25px 20px 0 0;
  text-decoration: none;
}

body.home #main_content #content #welcome a.more:hover {
  text-decoration: underline;
}

body.home #main_content #content #welcome_actions {
  margin-top: 20px;
}

body.home #main_content #content #welcome_actions .action {
  width: 200px;
  height: 120px;
  float: left;
  border: 1px solid #C1C1C1;
  text-align: center;
  margin-left: 50px;
  background: url('/images/home/welcome_action.jpg') no-repeat scroll 0 0 #FFFFFF;
  position: relative;
  overflow: hidden;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 5px 5px 5px #CCCCCC;
  -webkit-box-shadow: 5px 5px 5px #CCCCCC;
  box-shadow: 5px 5px 5px #CCCCCC;
}

body.home #main_content #content #welcome_actions .first {
  margin-left: 0;
}

body.home #main_content #content #welcome_actions a.action,
body.home #main_content #content #welcome_actions a.action:hover,
body.home #main_content #content #welcome_actions a.action:visited {
  text-decoration: none;
}

body.home #main_content #content #welcome_actions .action .info {
  height: 35px;
  padding-top: 5px;
  color: #555555;
  font-size: 2em;
  display: block;
  font-family: TangerineBold, Arial,Tahoma,Helvetica,FreeSans,sans-serif;
}

body.home #main_content #content #welcome_actions .action .caption {
  text-align: center;
  position: absolute;
  top: -40px;
  width: 100%;
  height: 40px;
  background: #000000;
  display: block;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  opacity: .8;
  /* For IE 5-7 */
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  /* For IE 8 */
  -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

body.home #main_content #content #welcome_actions .action .caption .title {
  color: #CCCCCC;
  font-family: TangerineBold, Arial,Tahoma,Helvetica,FreeSans,sans-serif;
  font-size: 2em;
  padding-top: 8px;
  display: block;
}

/* Contact Page */
#contact {
  float: left;
}

#contact_form {
  border-right: 1px solid #CCCCCC;
  width: 470px;
}

#follow {
  float: left;
  margin-left: 25px;
}

#follow #follow_me_box {
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: none repeat scroll 0 0 #F5F5F5;
  border: 1px solid #EBEBEB;
  padding: 14px 10px;
  margin-top: 10px;
  width: 440px;
}

#follow #follow_me_box img {
  margin: 15px;
  padding: 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

#follow #follow_me_box img.twitter {
  background: none repeat scroll 0 0 #4F6D87;
}

#follow #follow_me_box img.facebook {
  background: none repeat scroll 0 0 #3B5998;
}

#follow #follow_me_box img.linkedin {
  background: none repeat scroll 0 0 #FFFFFF;
}

#follow #follow_me_box img.buzz {
  background: none repeat scroll 0 0 #FFFFFF;
  padding: 7px 5px;
}

/* Login page */
#login_form_container {
  border: 1px solid #CCCCCC;
  background-color: #F5F5F5;
  margin-top: 50px;
  padding: 20px 30px 30px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
}

#login_form_container form#login_form {
  margin: 0 auto;
  width: 450px;
}

form#login_form input.rememberme {
  clear: left;
  float: left;
  margin-left: 100px;
  margin-top: 20px;
}

form#login_form label.rememberme {
  clear: none;
  font-weight: normal;
  width: auto;
  margin-left: 10px;
}

/* Projects */
#projects .project {
  border-bottom: 1px solid #D7D7D7;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

#projects .project img.logo {
  float: left;
  border: 2px solid #FFC20E;
}

#projects .project .info {
  margin-left: 130px;
}

#projects .project .info h2.title {
  color: #333333;
  border-bottom: none;
  margin: 0 0;
  padding-bottom: 0;
}

#projects .project .info h3.category {
  color: #ACACAC;
}

#projects .project .info .description {
  margin-top: 10px;
  font-size: 1.1em;
}

#projects .project .info .description .synopsis {
  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  border-radius: 8px 8px 8px 8px;
  background: none repeat scroll 0 0 #F5F5F5;
  border: 1px solid #EBEBEB;
  margin-top: 10px;
  padding: 8px;
}

#projects .project .info .description .synopsis .download_count {
  font-weight: bold;
  margin-bottom: 8px;
}

#projects .project .info .description .synopsis .download_count .count {
  color: #CC3300;
  font-size: 1.2em;
}

#projects .project .info .description .synopsis .related_links .helptext {
  font-weight: bold;
}

#projects .project .info .description .synopsis .related_links a {
  margin: 0 40px 0 10px;
}