<div id="about">
  <div id="info">
    <p>
      Hi!! I'm Satyaram! People also call me BV.
    </p>

    <p>
      I'm a Software Design Engineer at <a href="http://chronus.com/">Chronus Corporation</a>. Web has been my passion right since my childhood which indulged me into
      creating at least a dozen websites during my college days.
      I'm particularly interested in User Experience Design which keeps me always in thrive of making web products with better usability..
    </p>

    <p>
      I've been working on <a href="http://rubyonrails.org/">Ruby on Rails</a> for more than three years since the moment when I found the ultimate application framework for web development.
      I'm currently working on <a href="http://chronus.com/products">Chronus Mentor</a>, a unique and innovative Web 2.0 solution that enables organizations to run hi-impact mentoring programs in a forward-thinking and cost-effective manner.
    </p>

    <p>
      I believe in <a href="http://www.opensource.org/">open source</a>. You may view my contributions on the <%= link_to "projects page", projects_path %>.
    </p>

    <p>
      Please visit my <%= link_to "contact page", contact_path %>, incase you wanna stay in touch with me!!
    </p>
  </div>
</div>