<div id="about">
  <div id="info">
    <%= render :partial => "home/about_info" %>

    <p>
      Please visit my <%= link_to "contact page", contact_path %>, incase you wanna stay in touch with me!!
    </p>
  </div>
</div>