<div id="welcome">
  <img src="/images/bvsatyaram.jpg" />
  <div class="message">
    <h2>Hey! Welcome to my home page!!!</h2>
    <p>
      Welcome to my home page!! This is really awesome. <br />
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
    </p>
    <a href="" class="more">read more >></a>
  </div>
</div>

<div id="welcome_actions" class="clearfix">
  <a class="action first" href ="">
    <span class="info">Let me tell...</span>
    <img src="/images/home/blog.jpg" />
    <span class="caption">
      <span class="title">Blog</span>
    </span>
  </a>
  <a class="action" href ="">
    <span class="info">Let me share...</span>
    <img src="/images/home/articles.jpg" />
    <span class="caption">
      <span class="title">Articles</span></span>
  </a>
  <a class="action" href ="">
    <span class="info">I did it...</span>
    <img src="/images/home/projects.jpg" />
    <span class="caption">
      <span class="title">Projects</span>
    </span>
  </a>
  <a class="action" href ="">
    <span class="info">Wanna meet me???</span>
    <img src="/images/home/contact.jpg" />
    <span class="caption">
      <span class="title">Contact</span></span>
  </a>
</div>