<iframe width="100%" id="myFrame" src="http://koalastothemax.com/?aHR0cDovL2J2c2F0eWFyYW0uY29tL2ltYWdlcy9wYWdlcy9ldml0Y2FfbG9nby5qcGc=" scrolling="auto" frameborder="0" height="600">
An iframe capable browser is
required to view this web page.
</iframe>

<div style="background-color: #FFFFFF; height: 25px; margin: -25px auto 0; position: absolute; width: 100%;"></div>