<%= render :layout => 'projects/project',
  :locals => {:project_title => "Lazy Styler", :project_category => "jQuery Plugin", :project_logo => "lazy_styler.jpg"} do %>
  The Lazy Styler plugin is a boon to the lazy web designers. <br />
  Why the heck should you have to write 4 lines of CSS to handle a rounded corner while you can manage all modern browsers with a couple of words?<br />
  The lazy styler plugin does the honor of adding those all-browser-needed lines of CSS to add those rounded corners. All that you need to do is add a couple of classe names to the element which you would like to round.<br />
  Are you lazy to switch to the CSS file each time you need to style a div? Lazy styler is the one for you again. All that you need to do is add just another addition class name.
  
  <div class="synopsis">
    <div class="related_links">
      <span class="helptext">Related Links: </span>
      <%= link_to "Demo", projects_lazy_styler_path %>
      <%= link_to "Source Code", "https://github.com/bvsatyaram/lazy_styler", :target => "_blank" %>
      <%= link_to "Plugin Page", "http://plugins.jquery.com/project/lazy_styler", :target => "_blank" %>
    </div>
  </div>
<% end %>