<%= render :layout => 'projects/project',
  :locals => {:project_title => "Random Password Generator", :project_category => "Rubygem", :project_logo => "random_password_generator.jpg"} do %>
  RandomPasswordGenerator gem is the ultimate random password generator.
  It is highly customizable. Special characters can be skipped from the password.
  To make the password easily readable and less confusing, we can also skip commonly confused characters.
  To put in a nut shell, RandomPasswordGenerator is all that you need for random password generation, what ever be your need.
  <div class="synopsis">
    <%= download_count_info("random_password_generator") %>
    <div class="related_links">
      <span class="helptext">Related Links: </span>
      <%= link_to "Source Code", "https://github.com/bvsatyaram/random_password_generator", :target => "_blank" %>
      <%= link_to "Rubygem Page", "https://rubygems.org/gems/random_password_generator", :target => "_blank" %>
    </div>
  </div>
<% end %>