<%= render :layout => 'projects/project',
  :locals => {:project_title => "Ruby Data Structures", :project_category => "Rubygem", :project_logo => "ruby_data_structures.jpg"} do %>
  Implementation of standard data structures in Ruby.<br />
  Who says its better to use Java/C++ for programming contests, as they have better support for data structures like linked lists and heaps?
  Now you can be a rock star programmer - Coming up with solutions much faster than others by coding in the ruby programming language.
  The RubyDataStructures rubygem provides the missing library for the ruby programming language to implement any algorithm you want to!!
  <div class="synopsis">
    <%= download_count_info("ruby_data_structures") %>
    <div class="related_links">
      <span class="helptext">Related Links: </span>
      <%= link_to "Source Code", "https://github.com/bvsatyaram/Ruby-Data-Structures", :target => "_blank" %>
      <%= link_to "Rubygem Page", "https://rubygems.org/gems/RubyDataStructures", :target => "_blank" %>
    </div>
  </div>
<% end %>