<div id="projects">
  <%= render :partial => "projects/validate_email" %>
  <%= render :partial => "projects/quick_scrapper" %>
  <%= render :partial => "projects/lazy_styler" %>
  <%= render :partial => "projects/truncateHTML" %>
</div>